/* line 17, ../../../../../../RailsInstaller/Ruby1.9.2/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../RailsInstaller/Ruby1.9.2/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../RailsInstaller/Ruby1.9.2/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../RailsInstaller/Ruby1.9.2/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../RailsInstaller/Ruby1.9.2/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../RailsInstaller/Ruby1.9.2/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../RailsInstaller/Ruby1.9.2/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../RailsInstaller/Ruby1.9.2/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../RailsInstaller/Ruby1.9.2/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*
* Author: baloran
* URL: http://baloran.fr
*/
/* line 15, ../../sass/styles.scss */
#main {
  width: 980px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  font-family: arial;
}

/* line 23, ../../sass/styles.scss */
#header {
  width: 980px;
  height: 120px;
  background-color: white;
  margin-top: 30px;
  z-index: 10;
}
/* line 29, ../../sass/styles.scss */
#header .home_l {
  margin-top: 15px;
  margin-left: 5px;
}
/* line 33, ../../sass/styles.scss */
#header #connectlogin, #header #info {
  width: 380px;
  float: right;
  margin-right: 5px;
  margin-top: 25px;
}
/* line 39, ../../sass/styles.scss */
#header input {
  width: 170px;
  height: 25px;
  background-color: white;
  border: none;
  outline: none;
  -webkit-box-shadow: inset black 1px 1px 3px;
  -moz-box-shadow: inset black 1px 1px 3px;
  box-shadow: inset black 1px 1px 3px;
  font-family: levenim MT;
  font-size: 15px;
  padding-left: 5px;
}
/* line 50, ../../sass/styles.scss */
#header input.submit {
  width: 355px;
  background: white;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZkZmRmZCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2UxZTFlMSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fdfdfd), color-stop(100%, #e1e1e1));
  background: -webkit-linear-gradient(#fdfdfd, #e1e1e1);
  background: -moz-linear-gradient(#fdfdfd, #e1e1e1);
  background: -o-linear-gradient(#fdfdfd, #e1e1e1);
  background: linear-gradient(#fdfdfd, #e1e1e1);
  margin-top: 10px;
  border: 1px solid #D4D4D4;
  cursor: pointer;
}
/* line 59, ../../sass/styles.scss */
#header input.submit:hover {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZkZmRmZCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Q0ZDRkNCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fdfdfd), color-stop(100%, #d4d4d4));
  background: -webkit-linear-gradient(#fdfdfd, #d4d4d4);
  background: -moz-linear-gradient(#fdfdfd, #d4d4d4);
  background: -o-linear-gradient(#fdfdfd, #d4d4d4);
  background: linear-gradient(#fdfdfd, #d4d4d4);
}

/* line 65, ../../sass/styles.scss */
#slides {
  width: 980px;
  height: 279px;
  position: relative;
  z-index: 8;
  top: 0;
  margin-top: 0px;
  cursor: pointer;
}
/* line 73, ../../sass/styles.scss */
#slides .pub {
  z-index: 5;
  height: auto;
  margin-top: 0px;
  height: 279px;
}
/* line 79, ../../sass/styles.scss */
#slides .commander {
  position: absolute;
  top: 212px;
  left: 383px;
  width: 182px;
  height: 41px;
}

/* line 88, ../../sass/styles.scss */
.pagination {
  position: absolute;
}

/* line 92, ../../sass/styles.scss */
#content {
  width: 980px;
  background-color: white;
  height: 1000px;
}

/* line 98, ../../sass/styles.scss */
.caption {
  z-index: 500;
  position: absolute;
  bottom: -35px;
  left: 0;
  height: 30px;
  padding: 5px 20px 0 20px;
  background: #000;
  background: rgba(0, 0, 0, 0.5);
  width: 540px;
  font-size: 1.3em;
  line-height: 1.33;
  color: #fff;
  border-top: 1px solid #000;
  text-shadow: none;
}

/* line 115, ../../sass/styles.scss */
.grid3 {
  width: 316px;
  float: left;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 10px;
}
/* line 121, ../../sass/styles.scss */
.grid3 span.title_grid {
  font-size: 22px;
}
/* line 124, ../../sass/styles.scss */
.grid3 p {
  text-align: center;
}

/* line 129, ../../sass/styles.scss */
span#erreur {
  position: absolute;
  left: 0;
  top: 0;
  height: 30px;
  line-height: 30px;
  background: #d70000;
  width: 100%;
  font-family: dejavu sans;
  text-align: center;
  color: white;
  display: none;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmNGE0YSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Q3MDAwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff4a4a), color-stop(100%, #d70000));
  background: -webkit-linear-gradient(#ff4a4a, #d70000);
  background: -moz-linear-gradient(#ff4a4a, #d70000);
  background: -o-linear-gradient(#ff4a4a, #d70000);
  background: linear-gradient(#ff4a4a, #d70000);
}
/* line 142, ../../sass/styles.scss */
span#erreur p {
  display: inline;
}

/* line 146, ../../sass/styles.scss */
span#valid {
  position: absolute;
  left: 0;
  top: 0;
  height: 30px;
  line-height: 30px;
  background: #d70000;
  width: 100%;
  font-family: dejavu sans;
  text-align: center;
  color: white;
  display: none;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzcxZDk3OCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzIzYmEyNyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #71d978), color-stop(100%, #23ba27));
  background: -webkit-linear-gradient(#71d978, #23ba27);
  background: -moz-linear-gradient(#71d978, #23ba27);
  background: -o-linear-gradient(#71d978, #23ba27);
  background: linear-gradient(#71d978, #23ba27);
}
/* line 159, ../../sass/styles.scss */
span#valid p {
  display: inline;
}
